Repository LuckyYoungNam/Server, pull requests merged in 2024-10, with the labels that each got.

#3 [FEATURE] 프로젝트 세팅 및 엔티티 세팅
  src/main/java/org/example/youngnam/domain/image/entity/Image.java
  src/main/java/org/example/youngnam/domain/image/entity/ImageStatus.java
  src/main/java/org/example/youngnam/domain/post/entity/Post.java
  src/main/java/org/example/youngnam/domain/post/entity/PostStatus.java
  src/main/java/org/example/youngnam/domain/user/entity/User.java
  src/main/java/org/example/youngnam/domain/user/entity/UserLoginHistory.java
  src/main/java/org/example/youngnam/domain/user/entity/UserStatus.java
  src/main/java/org/example/youngnam/global/base/BaseTimeEntity.java
Labels: 🐶 M-ung, ✨ Feature

#21 [Fix] cors url 변경 - #20
  src/main/java/org/example/youngnam/auth/config/SecurityConfig.java
Labels: 🐞 BugFix, 🦦 kwak

#33 [FEATURE] 홍보 사진 관련 API 구현
  build.gradle
  src/main/java/org/example/youngnam/domain/image/controller/ImageController.java
  src/main/java/org/example/youngnam/domain/image/dto/request/ImageRequestDTO.java
  src/main/java/org/example/youngnam/domain/image/dto/response/ImageResponseDTO.java
  src/main/java/org/example/youngnam/domain/image/entity/Image.java
  src/main/java/org/example/youngnam/domain/image/facade/ImageFacade.java
  src/main/java/org/example/youngnam/domain/image/mapper/ImageMapper.java
  src/main/java/org/example/youngnam/domain/image/repository/ImageRepository.java
  src/main/java/org/example/youngnam/domain/image/service/ImageService.java
  src/main/java/org/example/youngnam/domain/image/service/ImageServiceImpl.java
  src/main/java/org/example/youngnam/domain/post/controller/PostController.java
  src/main/java/org/example/youngnam/domain/post/dto/response/PostResponseDTO.java
  src/main/java/org/example/youngnam/domain/post/entity/Post.java
  src/main/java/org/example/youngnam/domain/post/mapper/PostMapper.java
  src/main/java/org/example/youngnam/domain/post/repository/PostRepository.java
  src/main/java/org/example/youngnam/domain/post/service/PostService.java
  src/main/java/org/example/youngnam/domain/post/service/PostServiceImpl.java
  src/main/java/org/example/youngnam/global/config/S3Config.java
  src/main/java/org/example/youngnam/global/exception/ErrorCode.java
  src/main/java/org/example/youngnam/global/gpt/service/GptServiceImpl.java
Labels: 🐶 M-ung, ✨ Feature

#35 [REFACTOR] Gpt 코드 리팩토링
  build.gradle
  src/main/java/org/example/youngnam/auth/config/SecurityConfig.java
  src/main/java/org/example/youngnam/auth/exception/ExceptionHandlerFilter.java
  src/main/java/org/example/youngnam/auth/filter/JwtAuthenticationFilter.java
  src/main/java/org/example/youngnam/auth/jwt/JwtGenerator.java
  src/main/java/org/example/youngnam/domain/image/entity/Image.java
  src/main/java/org/example/youngnam/domain/image/facade/ImageFacade.java
  src/main/java/org/example/youngnam/domain/image/service/ImageServiceImpl.java
  src/main/java/org/example/youngnam/domain/post/entity/Post.java
  src/main/java/org/example/youngnam/domain/post/facade/PostFacade.java
  src/main/java/org/example/youngnam/domain/post/service/PostServiceImpl.java
  src/main/java/org/example/youngnam/domain/user/service/AuthService.java
  src/main/java/org/example/youngnam/external/feign/kakao/KakaoFeignProvider.java
  src/main/java/org/example/youngnam/global/config/GptConfig.java
  src/main/java/org/example/youngnam/global/config/RestTemplateConfig.java
  src/main/java/org/example/youngnam/global/exception/ErrorCode.java
  src/main/java/org/example/youngnam/global/exception/GlobalExceptionHandler.java
  src/main/java/org/example/youngnam/global/exception/exceptions/BadRequestException.java
  src/main/java/org/example/youngnam/global/exception/exceptions/EntityNotFoundException.java
  src/main/java/org/example/youngnam/global/exception/exceptions/GptException.java
  src/main/java/org/example/youngnam/global/exception/exceptions/UnauthorizedException.java
  src/main/java/org/example/youngnam/global/exception/exceptions/YoungnamException.java
  src/main/java/org/example/youngnam/global/gpt/dto/request/GptRequestDTO.java
  src/main/java/org/example/youngnam/global/gpt/dto/response/GptResponseDTO.java
  src/main/java/org/example/youngnam/global/gpt/service/GptServiceImpl.java
Labels: 🐶 M-ung, 🔨 Refactor

#37 [REFACTOR] 이미지 코드 리팩토링
  src/main/java/org/example/youngnam/domain/image/service/ImageServiceImpl.java
  src/main/java/org/example/youngnam/global/exception/ErrorCode.java
  src/main/java/org/example/youngnam/global/exception/GlobalExceptionHandler.java
Labels: 🐶 M-ung, 🔨 Refactor

#39 [FEATURE] 이전 홍보 글 & 홍보 사진 조회 API 구현
  src/main/java/org/example/youngnam/YoungNamApplication.java
  src/main/java/org/example/youngnam/domain/post/controller/PostController.java
  src/main/java/org/example/youngnam/domain/post/dto/response/PostResponseDTO.java
  src/main/java/org/example/youngnam/domain/post/facade/PostFacade.java
  src/main/java/org/example/youngnam/domain/post/mapper/PostMapper.java
  src/main/java/org/example/youngnam/domain/post/repository/PostRepository.java
  src/main/java/org/example/youngnam/domain/post/service/PostService.java
  src/main/java/org/example/youngnam/domain/post/service/PostServiceImpl.java
  src/main/java/org/example/youngnam/domain/post/vo/PostFindOneVO.java
Labels: 🐶 M-ung, ✨ Feature

#41 [REFACTOR] Controller 계층에서 userId 추출 및 이미지 저장 코드 리팩토링
  src/main/java/org/example/youngnam/domain/image/controller/ImageController.java
  src/main/java/org/example/youngnam/domain/image/entity/Image.java
  src/main/java/org/example/youngnam/domain/image/facade/ImageFacade.java
  src/main/java/org/example/youngnam/domain/image/service/ImageService.java
  src/main/java/org/example/youngnam/domain/image/service/ImageServiceImpl.java
  src/main/java/org/example/youngnam/domain/post/controller/PostController.java
  src/main/java/org/example/youngnam/domain/post/facade/PostFacade.java
  src/main/java/org/example/youngnam/domain/post/service/PostService.java
  src/main/java/org/example/youngnam/domain/post/service/PostServiceImpl.java
Labels: 🐶 M-ung, 🔨 Refactor

#45 [Fix] 커밋 롤백된 부분 해결
  src/main/java/org/example/youngnam/YoungNamApplication.java
  src/main/java/org/example/youngnam/domain/post/controller/PostController.java
  src/main/java/org/example/youngnam/domain/post/facade/PostFacade.java
  src/main/java/org/example/youngnam/domain/post/service/PostService.java
  src/main/java/org/example/youngnam/domain/post/service/PostServiceImpl.java
Labels: 🐞 BugFix, 🐶 M-ung

#47 [FIX] UserService 에러 해결
  src/main/java/org/example/youngnam/domain/user/service/UserService.java
Labels: 🐞 BugFix, 🐶 M-ung
